<template>
  <div class="products">
    <div class="card">
      <div class="card-heading">Додати новий продукт</div>
      <form class="form" @submit="handleSubmit($event)">
        <div class="form-block">
          <label class="form-label" for="name">Назва</label>
          <input class="form-input" type="text" name="name" v-model="name">
        </div>
        <div class="form-block">
          <label class="form-label" for="description">Опис</label>
          <input class="form-input" type="text" name="description" v-model="description">
        </div>
        <div class="form-block">
          <label class="form-label" for="category">Категорія</label>
          <input class="form-input" type="text" name="category" v-model="category">
        </div>
        <div class="form-block">
          <label class="form-label" for="price">Ціна (UAH)</label>
          <input class="form-input" type="number" name="price" v-model="price">
        </div>
        <div class="form-block form-block-checkbox">
          <label class="form-label" for="visible">Видимий на сайті</label>
          <input class="form-checkbox" type="checkbox" name="visible" v-model="visible">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Фурнітура</label>
          <input class="form-input" type="text" name="furniture" v-model="furniture">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Наповнення</label>
          <input class="form-input" type="text" name="filling" v-model="filling">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Кількість</label>
          <input class="form-input" type="number" name="qnt" v-model="qnt">
        </div>
        <div class="form-block form-block-checkbox">
          <label class="form-label" for="name">Розпродаж</label>
          <input class="form-checkbox" type="checkbox" name="sales" v-model="sales">
        </div>
        <div class="form-block form-block">
          <label class="form-label" for="name">Ціна на розпродаж</label>
          <input class="form-input" type="number" name="salesPrice" v-model="salesPrice">
        </div>
        <div class="form-block form-block-absolute">
          <label>Зображення</label>
          <div class="form-files-block" @click="openFileUpload($event)">+</div>
          <input class="form-files-input" accept="image/*" type="file" name="photos" multiple @change="processFile($event)">
          <div class="form-images">
            <div class="form-image-block" v-for="photo in photosSrc" v-bind:key="photo.name">
              <img :src="photo.src" class="form-image" />
              <div class="form-remove-image" @click="removeImage(photo.name)">&times;</div>
            </div>
          </div>
        </div>
        <div class="form-block">
          <input type="submit" class="form-submit" value="Створити">
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  name: 'AdminProducts',
  middleware: 'authed',
  data: function() {
    return {
      name: '',
      description: '',
      category: '',
      price: '',
      visible: false,
      furniture: '',
      filling: '',
      qnt: '',
      sales: false,
      photos: [],
      photosSrc: [],
      salesPrice: '',
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      const photos = this.photosSrc.map(photo => photo.src)
      const formData = {
        name: this.name,
        description: this.description,
        category: this.category,
        price: this.price,
        visible: this.visible,
        furniture: this.furniture,
        filling: this.filling,
        qnt: this.qnt,
        sales: this.sales,
        photos,
        salesPrice: this.salesPrice
      }
    },
    removeImage(photoSrc) {
      const photosList = this.photosSrc
      this.photosSrc = photosList.filter(photo => photoSrc !== photo.name)
    },
    openFileUpload(e) {
      const fileInput = document.querySelector('.form-files-input')
      fileInput.click()
    },
    processFile(e) {
      const files = e.target.files
      const that = this
      this.photos = files
      const setupReader = (file) => {
        const reader = new FileReader()
        reader.onloadend = function(e, index) {          
          const newPhotos = that.photosSrc
          newPhotos.push({ name: file.name, src: e.target.result })
          that.photosSrc = newPhotos
        }
        reader.readAsDataURL(file)
      }
      for (let i = 0; i < files.length; i++) {
        setupReader(files[i])
      }
    }
  }
}
</script>

<style lang="less" scoped>
</style>
