<template>
  <div class="categories">
    <md-card>
      <md-card-header>
        <div>Список категорій</div>
        <div>
          <md-button @click="createCategory.showModal = true" class="md-dense md-raised md-primary">Створити категорію</md-button>
        </div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric width="50">ID</md-table-head>
            <md-table-head>Назва</md-table-head>
            <md-table-head></md-table-head>
            <md-table-head></md-table-head>
          </md-table-row>
          <md-table-row v-for="c in categories" :key="c.id">
            <md-table-cell md-numeric width="50">{{c.id}}</md-table-cell>
            <md-table-cell>{{c.name}}</md-table-cell>
            <md-table-cell width="80"><img @click="toggleModal(c.id)" class="md-image-button" src="/icons/edit.svg" /></md-table-cell>
            <md-table-cell width="80"><img @click="toggleDeleteToast(c.id)" class="md-image-button" src="/icons/delete.svg" /></md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <Modal v-if="createCategory.showModal" @close="createCategory.showModal = false">
      <template v-slot:header>
        Створити категорію
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Ім'я</label>
          <md-input v-model="createCategory.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="createCategory.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleCreateCategory">Створити</md-button>
        </div>
      </template>
    </Modal>
    <Modal v-if="editCategory.showModal" @close="editCategory.showModal = false">
      <template v-slot:header>
        Зміна назви − {{editCategory.oldName}}
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Ім'я</label>
          <md-input v-model="editCategory.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="editCategory.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleEditCategory">Редагувати</md-button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  layout: 'admin',
  name: 'AdminCategories',
  middleware: 'authed',
  components: {
    Modal,
  },
  data() {
    return {
      createCategory: {
        name: '',
        description: '',
        showModal: false
      },
      editCategory: {
        id: '',
        name: '',
        description: '',
        showModal: false
      },
      categories: []
    }
  },
  async asyncData(ctx) {
    const { categories } = await ctx.$axios.$get('/categories')
    return {
      categories: categories
    }
  },
  methods: {
    toggleDeleteToast(id) {
      this.$toast.error('Видалити?', {
        duration: null,
        action: [{
          text: 'Так',
          onClick: (e, toastObject) => {
            this.$axios.$delete(`/categories/${id}`)
              .then(() => {
                toastObject.goAway(0)
                this.$axios.$get('/categories')
                  .then(data => this.categories = data.categories)
              })
              .catch(err => {
                this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
              })
          }
        }, {
          text: 'Ні',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }]
      })
    },
    toggleModal(id) {
      const name = this.categories.find(f => f.id === Number(id)).name
      this.editCategory = {
        id: id,
        oldName: name,
        name,
        showModal: true
      }
    },
    handleCreateCategory(e) {
      e.preventDefault()
      const props = this.createCategory
      delete props.showModal
      return this.$axios.$post('/categories', { ...props })
        .then(() => {
          this.$toast.success('Категорія створена!')
          this.createCategory.name = ''
          this.createCategory.description = ''
          this.$axios.$get('/categories')
            .then(data => this.categories = data.categories)
            .finally(() => this.createCategory.showModal = false)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err))
        })
    },
    handleEditCategory(e) {
      e.preventDefault()
      const props = this.editCategory
      const id = props.id
      delete props.showModal
      return this.$axios.$put(`/categories/${id}`, { ...props })
        .then(() => {
          this.$toast.success('Назва змінена')
          this.$axios.$get('/categories')
            .then(data => this.categories = data.categories)
            .finally(() => this.editCategory.showModal = false)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err))
        })
    },
    handleDeleteCategory(id) { 
      return this.$axios.$delete(`/categories/${id}`)
        .then(() => {
          this.$toast.success('Категорія видалена!')
          this.$axios.$get('/categories')
            .then(data => this.categories = data.categories)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringfiy(err))
        })
    }
  }
}
</script>

<style lang="less" scoped>

</style>
