<template>
  <div class="fillings">
    <md-card>
      <md-card-header>
        <div>Список наповнювачів</div>
        <div>
          <md-button @click="createFilling.showModal = true" class="md-dense md-raised md-primary">Створити наповнювач</md-button>
        </div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric width="50">ID</md-table-head>
            <md-table-head>Назва</md-table-head>
            <md-table-head></md-table-head>
            <md-table-head></md-table-head>
          </md-table-row>
          <md-table-row v-for="f in fillings" :key="f.id">
            <md-table-cell md-numeric width="50">{{f.id}}</md-table-cell>
            <md-table-cell>{{f.name}}</md-table-cell>
            <md-table-cell width="80"><img @click="toggleModal(f.id)" class="md-image-button" src="/icons/edit.svg" /></md-table-cell>
            <md-table-cell width="80"><img @click="toggleDeleteToast(f.id)" class="md-image-button" src="/icons/delete.svg" /></md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <Modal v-if="createFilling.showModal" @close="createFilling.showModal = false">
      <template v-slot:header>
        Створити наповнювач
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Назва</label>
          <md-input v-model="createFilling.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="createFilling.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleCreateFilling">Створити</md-button>
        </div>
      </template>
    </Modal>
    <Modal v-if="editFilling.showModal" @close="editFilling.showModal = false">
      <template v-slot:header>
        Зміна назви − {{editFilling.oldName}}
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Назва</label>
          <md-input v-model="editFilling.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="editFilling.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleEditFilling">Створити</md-button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  layout: 'admin',
  name: 'AdminFillings',
  middleware: 'authed',
  components: {
    Modal,
  },
  data() {
    return {
      createFilling: { name: '', showModal: false },
      editFilling: { id: '', oldName: '', name: '', showModal: false, },
      deleteFilling: { id: '', showModal: false },
      fillings: []
    }
  },
  async asyncData(ctx) {
    const { fillings } = await ctx.$axios.$get('/fillings')
    return {
      fillings
    }
  },
  methods: {
    toggleDeleteToast(id) {
      this.$toast.error('Видалити?', {
        duration: null,
        action: [{
          text: 'Так',
          onClick: (e, toastObject) => {
            this.$axios.$delete(`/fillings/${id}`)
              .then(() => {
                toastObject.goAway(0)
                this.$axios.$get('/fillings')
                  .then(data => this.fillings = data.fillings)
              })
              .catch(err => {
                this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
              })
          }
        }, {
          text: 'Ні',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }]
      })
    },
    toggleModal(id, key) {
      const name = this.fillings.find(f => f.id === Number(id)).name
      this.editFilling = {
        id: id,
        oldName: name,
        name,
        showModal: true
      }
    },
    handleCreateFilling(e) {
      e.preventDefault()
      const props = this.createFilling
      delete props.showModal
      return this.$axios.$post('/fillings', { ...props })
        .then(() => {
          this.$toast.success('Наповнювач створена!')
          this.createFilling.name = ''
          this.$axios.$get('/fillings')
            .then(data => this.fillings = data.fillings)
            .finally(() => this.createFilling.showModal = false)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err.reason))
        })
    },
    handleChangeEdit(e) {
      e.preventDefault()
      const id = Number(e.target.value)
      const filling = this.fillings.find(f => f.id === id)
      if (filling) {
        this.editFilling = { id, name: filling.name }
      } else {
        this.editFilling = { id: '', name: '' }
      }
    },
    handleEditFilling(e) {
      e.preventDefault()
      const id = this.editFilling.id
      const name = this.editFilling.name
      delete props.showModal
      return this.$axios.$put(`/fillings/${id}`, { name })
        .then(() => {
          this.$toast.success('Наповнювач змінено!')
          this.editFilling = { id: '', name: '' }
          this.$axios.$get('/fillings')
            .then(data => this.fillings = data.fillings)
            .finally(() => this.editFilling.showModal = false)
        })
        this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
    },
    handleDeleteFilling(id) { 
      return this.$axios.$delete(`/fillings/${id}`)
        .then(() => {
          this.$toast.success('Наповнювач видалений!')
          this.$axios.$get('/fillings')
            .then(data => this.fillings = data.fillings)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
        })
    }
  }
}
</script>

<style lang="less">

</style>
