<template>
  <div class="dashboard">
    <md-card>
      <md-card-header>
        <div>Замовлення в процесі</div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Ім'я</md-table-head>
            <md-table-head>Номер телефона</md-table-head>
            <md-table-head>Статус замовлення</md-table-head>
          </md-table-row>
          <md-table-row v-for="o in currentOrders" :key="o.id">
            <md-table-cell md-numeric>{{o.id}}</md-table-cell>
            <md-table-cell>{{o.customer.name}}</md-table-cell>
            <md-table-cell>{{o.customer.phone}}</md-table-cell>
            <md-table-cell>{{o.status}}</md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <md-card style="margin-top: 30px;">
      <md-card-header>
        <div>Видані замовлення</div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Ім'я</md-table-head>
            <md-table-head>Номер телефона</md-table-head>
            <md-table-head>Статус замовлення</md-table-head>
            <md-table-head>TTH</md-table-head>
          </md-table-row>
          <md-table-row v-for="o in completedOrders" :key="o.id">
            <md-table-cell md-numeric>{{o.id}}</md-table-cell>
            <md-table-cell>{{o.customer.name}}</md-table-cell>
            <md-table-cell>{{o.customer.phone}}</md-table-cell>
            <md-table-cell>{{o.status}}</md-table-cell>
            <md-table-cell>{{o.ttn}}</md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>

export default {
  layout: 'admin',
  name: 'AdminDashboard',
  middleware: 'authed',
  data() {
    return {
      orders: [],
    }
  },
  async asyncData(ctx) {
    const { orders } = await ctx.$axios.$get('/orders')
    const completedOrders = orders.filter(o => o.status === 'Відправлено')
    const currentOrders = orders.filter(o => o.status !== 'Відправлено')
    return {
      completedOrders: completedOrders,
      currentOrders: currentOrders,
    }
  },
}
</script>

<style lang="less" scoped>
.admin-panel {
  display: flex;
  flex-wrap: wrap;
}
</style>
