<template>
  <div class="admin-login">
    <form @submit.prevent="handleSubmit">
      <md-card class="md-layout-item md-size-100">
        <md-card-header>
          <div class="md-title">Login</div>
        </md-card-header>
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label>Email</label>
                <md-input v-model="email" />
              </md-field>
              <md-field>
                <label>Password</label>
                <md-input v-model="password" type="password" />
              </md-field>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <md-button type="submit" class="md-primary">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</template>

<script>
export default {
  layout: 'login',
  name: 'AdminLogin',
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    handleSubmit() {
      const { email, password } = this
      return this.$auth.loginWith(
        'local',
        { data: { email, password } }
      ).then(response => {
        this.$toast.success('Logged in')
      }).catch(err => {
        console.error(err)
        this.$toast.error('Error!')
      })
    }
  }
}
</script>

<style lang="less">
.admin {
  &-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
  }
}
</style>
