<template>
  <div class="order">
    <md-card>
      <md-card-header>
        <div>Список замовлень</div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Ім'я</md-table-head>
            <md-table-head>Номер телефона</md-table-head>
            <md-table-head>Статус замовлення</md-table-head>
            <md-table-head>TTH</md-table-head>
            <md-table-head></md-table-head>
            <md-table-head></md-table-head>
          </md-table-row>
          <md-table-row v-for="o in orders" :key="o.id">
            <md-table-cell md-numeric>{{o.id}}</md-table-cell>
            <md-table-cell>{{o.customer.name}}</md-table-cell>
            <md-table-cell>{{o.customer.phone}}</md-table-cell>
            <md-table-cell>{{o.status}}</md-table-cell>
            <md-table-cell>{{o.ttn}}</md-table-cell>
            <md-table-cell><img @click="handleEditOrder(o.id)" class="md-image-button" src="/icons/edit.svg" /></md-table-cell>
            <md-table-cell><img @click="handleDeleteOrder(o.id)" class="md-image-button" src="/icons/delete.svg" /></md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <Modal v-if="selectedOrder.showModal" @close="selectedOrder.showModal = false">
      <template v-slot:header>
        Редагування замовлення
      </template>
      <template v-slot:body>
        <div class="md-layout spaced">
          <md-field class="md-layout-item md-size-30">
            <label>Ім'я</label>
            <md-input v-model="selectedOrder.customer.name" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Номер телефона</label>
            <md-input v-model="selectedOrder.customer.phone" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Місто</label>
            <md-input v-model="selectedOrder.shipping_address.city" />
          </md-field>
        </div>
        <div class="md-layout spaced">
          <md-field class="md-layout-item md-size-30">
            <label>Відділення</label>
            <md-input v-model="selectedOrder.shipping_address.branch" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label for="status">Статус замовлення</label>
            <md-select v-model="selectedOrder.status" name="status">
              <md-option value="Поступила передоплата">Поступила передоплата</md-option>
              <md-option value="Поступила оплата">Поступила оплата</md-option>
              <md-option value="Формування">Формування</md-option>
              <md-option value="Шиється">Шиється</md-option>
              <md-option value="Виготовлено">Виготовлено</md-option>
              <md-option value="Відправлено">Відправлено</md-option>
              <md-option value="Отримано відгук">Отримано відгук</md-option>
            </md-select>
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>TTH</label>
            <md-input v-model="selectedOrder.ttn" />
          </md-field>
        </div>
        <div class="md-layout">
          <md-field class="md-layout-item md-size-100">
            <label>Коментар замовника</label>
            <md-textarea v-model="selectedOrder.comment" />
          </md-field>
        </div>
        <div class="md-layout">
          <md-field class="md-layout-item md-size-100">
            <label>Наш коментар</label>
            <md-textarea v-model="selectedOrder.admin_comment" />
          </md-field>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-30" v-for="p in selectedOrder.products" :key="p.id">
            <md-card>
              <md-card-media-cover md-solid>
                <md-card-media md-ratio="4:3">
                  <img :src="p.thumb" />
                </md-card-media>
                <md-card-area>
                  <md-card-header>
                    <span class="order-product-name">{{p.name}}</span>
                    <span class="order-product-qnt">{{p.qnt}} шт. − {{p.price}} грн</span>
                  </md-card-header>
                </md-card-area>
              </md-card-media-cover>
            </md-card>
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <div class="md-title right-margin-20">Вартість: {{ calculateTotal() }} грн.</div>
          <md-button class="md-icon-button">
            <md-icon md-src="/icons/print.svg"></md-icon>
          </md-button>
          <md-button class="md-accent" @click="selectedOrder.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary">Редагувати</md-button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  name: 'AdminOrders',
  layout: 'admin',
  middleware: 'authed',
  components: {
    Modal,
  },
  name: 'AdminOrders',
  async asyncData(ctx) {
    let { orders } = await ctx.$axios.$get('/orders')
    return {
      orders
    }
  },
  data() {
    return {
      orders: [],
      selectedOrder: { showModal: false },
    }
  },
  methods: {
    calculateTotal() {
      const order = this.selectedOrder
      let finalPrice = 0
      order.products.forEach(p => {
        finalPrice += p.qnt * p.price
      })
      return finalPrice
    },
    handleEditOrder(id) {
      const order = this.orders.find(o => o.id === Number(id))
      order.status = order.status.replace('\n', '')
      this.selectedOrder = { ...order, showModal: true }
    }
  }
}
</script>

<style lang="less" scoped>
.order {
  &-product {
    display: flex;
    flex: 0 0 120px;
    height: 100px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-product-name {
    font-size: 14px;
    font-weight: bold;
    // color: black;
  }
  &-product-qnt {
    font-size: 12px;
    // color: black;
  }
}
</style>
