<template>
  <div class="categories">
    <md-card>
      <md-card-header>
        <div>Список товарів</div>
        <div>
          <md-button @click="createProduct.showModal = true" class="md-dense md-raised md-primary">Створити товар</md-button>
        </div>
      </md-card-header>
      <md-card-content>
        <md-field class="md-layout-item md-size-30">
          <label>Пошук</label>
          <md-input v-model="search" @keyup="handleSearch($event)"/>
        </md-field>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Назва</md-table-head>
            <md-table-head>Категорія</md-table-head>
            <md-table-head>Ціна</md-table-head>
            <md-table-head>На розпродажі</md-table-head>
            <md-table-head>Скидочна ціна</md-table-head>
            <md-table-head>Редагувати</md-table-head>
            <md-table-head>Видалити</md-table-head>
          </md-table-row>
          <md-table-row v-for="p in visibleProducts" :key="p.id">
            <md-table-cell md-numeric>{{p.id}}</md-table-cell>
            <md-table-cell>{{p.name}}</md-table-cell>
            <md-table-cell>{{p.category}}</md-table-cell>
            <md-table-cell>{{p.price}} грн.</md-table-cell>
            <md-table-cell><md-checkbox v-model="p.onSales" disabled></md-checkbox></md-table-cell>
            <md-table-cell>{{p.salesPrice ? p.salesPrice + ' грн.' : '—'}}</md-table-cell>
            <md-table-cell><img @click="toggleModal(p.id)" class="md-image-button" src="/icons/edit.svg" /></md-table-cell>
            <md-table-cell><img @click="toggleDeleteToast(p.id)" class="md-image-button" src="/icons/delete.svg" /></md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <Modal v-if="createProduct.showModal" @close="createProduct.showModal = false">
      <template v-slot:header>
        Створити товар
      </template>
      <template v-slot:body>
        <div class="md-layout spaced">
          <md-field class="md-layout-item md-size-30">
            <label>Назва</label>
            <md-input v-model="createProduct.name" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Опис</label>
            <md-input v-model="createProduct.description" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Ціна (грн.)</label>
            <md-input v-model="createProduct.price" type="number" min="0" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Видимий на сайті</label>
            <md-select v-model="createProduct.visible">
              <md-option value="true" selected>Так</md-option>
              <md-option value="false">Ні</md-option>
            </md-select>
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Тканина</label>
            <md-select v-model="createProduct.tissue">
              <md-option value="null">—</md-option>
              <md-option :key="t.id" v-for="t in tissues" value="t.name">{{t.name}}</md-option>
            </md-select>
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Наповнення</label>
            <md-select v-model="createProduct.filling">
              <md-option value="null">—</md-option>
              <md-option :key="f.id" v-for="f in fillings" value="f.name">{{f.name}}</md-option>
            </md-select>
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Кількість</label>
            <md-input v-model="createProduct.qnt" type="number" min="0" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>На розпродажі</label>
            <md-select v-model="createProduct.onSales">
              <md-option value="true">Так</md-option>
              <md-option value="false" selected>Ні</md-option>
            </md-select>
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Ціна на розпродаж</label>
            <md-input v-model="createProduct.salesPrice" type="number" min="0" />
          </md-field>
          <md-field class="md-layout-item md-size-30">
            <label>Категорія</label>
            <md-select v-model="createProduct.category">
              <md-option value="null">—</md-option>
              <md-option :key="c.id" v-for="c in categories" value="c.name">{{c.name}}</md-option>
            </md-select>
          </md-field>
        </div>
        <div class="md-layout">
          <div class="form-block form-block-fullwidth form-block-file">
            <label class="form-label">Зображення</label>
            <input type="file" class="form-input file" multiple @change="handleInputFilesChange($event)" />
          </div>
          <div class="form-block form-block-fullwidth form-block-inline">
            <div class="form-images" :key="photo.id" v-for="photo in createProduct.photos">
              <img v-bind:src="photo.base64" class="form-image" />
              <div @click="handleRemoveImage(photo.id)" class="form-close">&times;</div>
            </div>
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <button class="form-submit outline red" @click="createProduct.showModal = false">Відмінити</button>
        <button class="form-submit" @click="handleCreateProduct($event)">Змінити</button>
      </template>
    </Modal>
    <Modal v-if="editProduct.showModal" @close="editProduct.showModal = false">
      <template v-slot:header>
        Редагування товару
      </template>
      <template v-slot:body>
        <div class="form-block">
          <label class="form-label" for="name">Назва</label>
          <input class="form-input" type="text" v-model="editProduct.name">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Опис</label>
          <input class="form-input" type="text" v-model="editProduct.description">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Ціна</label>
          <input class="form-input" type="number" v-model="editProduct.price">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Видимий на сайті</label>
          <select class="form-input" v-model="editProduct.visible">
            <option value="true" selected>Так</option>
            <option value="false">Ні</option>
          </select>
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Тканина</label>
          <select class="form-input" v-model="editProduct.tissue">
            <option value="null">—</option>
            <option :key="t.id" v-for="t in tissues">{{t.name}}</option>
          </select>
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Наповнення</label>
          <select class="form-input" v-model="editProduct.filling">
            <option value="null">—</option>
            <option :key="f.id" v-for="f in fillings">{{f.name}}</option>
          </select>
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Кількість</label>
          <input class="form-input" type="number" v-model="editProduct.qnt">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">На розпродажі</label>
          <input class="form-input" type="checkbox" v-model="editProduct.onSales">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Ціна розпродажу</label>
          <input class="form-input" type="number" v-model="editProduct.salesPrice">
        </div>
        <div class="form-block">
          <label class="form-label" for="name">Категорія</label>
          <select class="form-input" v-model="editProduct.category">
            <option value="null">—</option>
            <option :key="c.id" v-for="c in categories">{{c.name}}</option>
          </select>
        </div>
        <div class="form-block form-block-fullwidth form-block-file">
          <label class="form-label">Зображення</label>
          <input type="file" class="form-input file" multiple @change="handleInputFilesChange($event, 'editProduct')" />
        </div>
        <div class="form-block form-block-fullwidth form-block-inline">
          <div class="form-images" :key="photo.id" v-for="photo in editProduct.photos">
            <img v-bind:src="photo.base64" class="form-image" />
            <div @click="handleRemoveImage(photo.id, 'editProduct')" class="form-close">&times;</div>
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <button class="form-submit outline red" @click="editProduct.showModal = false">Відмінити</button>
        <button class="form-submit" @click="handleEditProduct($event)">Змінити</button>
      </template>
    </Modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  layout: 'admin',
  name: 'AdminProducts',
  middleware: 'authed',
  components: {
    Modal,
  },
  data() {
    return {
      search: '',
      createProduct: {
        name: '',
        description: '',
        price: 0,
        visible: true,
        tissue: null,
        filling: null,
        qnt: 0,
        onSales: false,
        salesPrice: 0,
        category: null,
        showModal: false,
        photos: [],
      },
      editProduct: {
        name: '',
        description: '',
        price: 0,
        visible: true,
        tissue: null,
        filling: null,
        qnt: 0,
        onSales: false,
        salesPrice: 0,
        category: null,
        showModal: false,
        photos: [],
      },
      visibleProducts: [],
      products: [],
      categories: [],
      tissues: [],
      fillings: []
    }
  },
  async asyncData(ctx) {
    const { products } = await ctx.$axios.$get('/products')
    const { categories } = await ctx.$axios.$get('/categories')
    const { tissues } = await ctx.$axios.$get('/tissues')
    const { fillings } = await ctx.$axios.$get('/fillings')
    return {
      products,
      visibleProducts: products,
      categories,
      tissues,
      fillings
    }
  },
  methods: {
    handleRemoveImage(photoId, process = 'createProduct') {
      const photos = this[process].photos
      const filteredPhotos = photos.filter(photo => photo.id !== photoId)
      this[process].photos = filteredPhotos
    },
    handleInputFilesChange(e, process = 'createProduct') {
      e.preventDefault()
      const photos = this[process].photos
      const imagesList = e.target.files
      for (let i = 0; i < imagesList.length; i++) {
        const reader = new FileReader()
        reader.onload = function(e) {
          const dataUrl = e.target.result
          photos.push({ id: imagesList[i].name, base64: dataUrl })
        }
        reader.readAsDataURL(imagesList[i])
      }
    },
    toggleDeleteToast(id) {
      this.$toast.error('Видалити?', {
        duration: null,
        action: [{
          text: 'Так',
          onClick: (e, toastObject) => {
            this.$axios.$delete(`/products/${id}`)
              .then(() => {
                toastObject.goAway(0)
                this.$axios.$get('/products')
                  .then(data => this.products = data.products)
              })
              .catch(err => {
                this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
              })
          }
        }, {
          text: 'Ні',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }]
      })
    },
    toggleModal(id, key) {
      const product = this.products.find(p => p.id === id)
      const { photos } = product
      const fetchedPhotos = []
      for (let index in photos) {
        const url = photos[index].replace('/api', '')
        this.$axios.$get(url, { responseType: 'blob' })
          .then(image => {
            const reader = new FileReader()
            reader.onload = function(e) {
              const dataUrl = e.target.result
              fetchedPhotos.push({ id: Number(index), base64: dataUrl, url })
            }
            reader.readAsDataURL(image)
          })
          .catch(err => console.log('Error while loading image', err) )
      }
      this.editProduct = { ...product, photos: fetchedPhotos, showModal: true }
    },
    handleCreateProduct(e) {
      e.preventDefault()
      const props = this.createProduct
      return this.$axios.$post('/products', { ...props })
        .then(() => {
          this.$toast.success('Категорія створена!')
          this.createProduct.name = ''
          this.createProduct.description = ''
          this.$axios.$get('/products')
            .then(data => this.products = data.products)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err))
        })
    },
    handleEditProduct(e) {
      e.preventDefault()
      const props = this.editProduct
      const id = props.id
      return this.$axios.$put(`/products/${id}`, { ...props })
        .then(() => {
          this.$toast.success('Назва змінена')
          this.$axios.$get('/products')
            .then(data => this.products = data.products)
            .finally(() => this.editProduct.showModal = false)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err))
        })
        .finally(() => this.editProduct.showModal = false)
    },
    handleSearch() {
      const query = this.search
      const products = this.products
      let updatedVisibleProducts = products
      if (query.length > 0) {
        updatedVisibleProducts = products.filter(product => {
          const { category, name, description, tissue, filling } = product
          return (category && category.includes(query)) || 
                (name && name.includes(query)) || 
                (description && description.includes(query)) || 
                (tissue && tissue.includes(query)) || 
                (filling && filling.includes(query))
        })
      }
      this.visibleProducts = updatedVisibleProducts
    }
  }
}
</script>

<style lang="less" scoped>

</style>
