<template>
  <div class="tissues">
    <md-card>
      <md-card-header>
        <div>Список тканин</div>
        <div>
          <md-button @click="createTissue.showModal = true" class="md-dense md-raised md-primary">Створити тканину</md-button>
        </div>
      </md-card-header>
      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head md-numeric width="50">ID</md-table-head>
            <md-table-head>Назва</md-table-head>
            <md-table-head></md-table-head>
            <md-table-head></md-table-head>
          </md-table-row>
          <md-table-row v-for="t in tissues" :key="t.id">
            <md-table-cell md-numeric width="50">{{t.id}}</md-table-cell>
            <md-table-cell>{{t.name}}</md-table-cell>
            <md-table-cell width="80"><img @click="toggleModal(t.id)" class="md-image-button" src="/icons/edit.svg" /></md-table-cell>
            <md-table-cell width="80"><img @click="toggleDeleteToast(t.id)" class="md-image-button" src="/icons/delete.svg" /></md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
    <Modal v-if="createTissue.showModal" @close="createTissue.showModal = false">
      <template v-slot:header>
        Створити тканину
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Назва</label>
          <md-input v-model="createTissue.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="createTissue.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleCreateTissue">Створити</md-button>
        </div>
      </template>
    </Modal>
    <Modal v-if="editTissue.showModal" @close="editTissue.showModal = false">
      <template v-slot:header>
        Зміна назви − {{editTissue.oldName}}
      </template>
      <template v-slot:body>
        <md-field class="md-layout-item md-size-30">
          <label>Назва</label>
          <md-input v-model="editTissue.name" />
        </md-field>
      </template>
      <template v-slot:footer>
        <div class="md-layout vertical-centered">
          <md-button class="md-accent" @click="editTissue.showModal = false">Закрити</md-button>
          <md-button class="md-dense md-raised md-primary" @click="handleEditTissue">Створити</md-button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  layout: 'admin',
  name: 'AdminTissues',
  middleware: 'authed',
  components: {
    Modal,
  },
  data() {
    return {
      createTissue: { name: '', showModal: false },
      editTissue: { id: '', oldName: '', name: '', showModal: false, },
      deleteTissue: { id: '', showModal: false },
      tissues: []
    }
  },
  async asyncData(ctx) {
    const { tissues } = await ctx.$axios.$get('/tissues')
    return {
      tissues
    }
  },
  methods: {
    toggleDeleteToast(id) {
      this.$toast.error('Видалити?', {
        duration: null,
        action: [{
          text: 'Так',
          onClick: (e, toastObject) => {
            this.$axios.$delete(`/tissues/${id}`)
              .then(() => {
                toastObject.goAway(0)
                this.$axios.$get('/tissues')
                  .then(data => this.tissues = data.tissues)
              })
              .catch(err => {
                this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
              })
          }
        }, {
          text: 'Ні',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }]
      })
    },
    toggleModal(id, key) {
      const name = this.tissues.find(f => f.id === Number(id)).name
      this.editTissue = {
        id: id,
        oldName: name,
        name,
        showModal: true
      }
    },
    handleCreateTissue(e) {
      e.preventDefault()
      const { name } = this.createTissue
      return this.$axios.$post('/tissues', { name })
        .then(() => {
          this.$toast.success('Тканина створена!')
          this.createTissue.name = ''
          this.$axios.$get('/tissues')
            .then(data => this.tissues = data.tissues)
            .finally(() => this.createTissue.showModal = false)
        })
        .catch(err => {
          this.$toast.error('Помилка ' + JSON.stringify(err.reason))
        })
    },
    handleChangeEdit(e) {
      e.preventDefault()
      const id = Number(e.target.value)
      const tissues = this.tissues.find(f => f.id === id)
      if (tissues) {
        this.editTissue = { id, name: tissues.name }
      } else {
        this.editTissue = { id: '', name: '' }
      }
    },
    handleEditTissue(e) {
      e.preventDefault()
      const id = this.editTissue.id
      const name = this.editTissue.name
      return this.$axios.$put(`/tissues/${id}`, { name })
        .then(() => {
          this.$toast.success('Тканину змінено!')
          this.editTissue = { id: '', name: '' }
          this.$axios.$get('/tissues')
            .then(data => this.tissues = data.tissues)
            .finally(() => this.editTissue.showModal = false)
        })
        this.$toast.error('Помилка ' + JSON.stringfiy(err.reason))
    }
  }
}
</script>

<style lang="less">

</style>
