<template>
  <div class="cart" v-bind:class="{ active: this.$attrs.opened }" >
    <div class="cart-header">
      <h1 class="cart-heading">Корзина</h1>
      <div class="cart-close" @click.prevent="closeCart">
        <img class="cart-close-image" src="/icons/close.svg" />
      </div>
    </div>
    <div class="cart-products" v-if="cart.products.length === 0">
      В корзині поки немає товарів
    </div>
    <div class="cart-products" v-else>
      Є товари!
    </div>
    <div class="cart-footer">
      <span v-if="cart.products.length > 0">Загальна вартість: {{ totalPrice }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cart',
  methods: {
    closeCart() {
      this.$attrs.toggle()
    }
  },
  data() {
    return {
      cart: {
        products: [],
        totalPrice: 0,
      }
    }
  },
  mounted() {
    if (localStorage.cart) {
      const products = localStorage.cart.products
      let totalPrice = 0
      products.forEach(p => totalPrice += p.price)
      this.cart = {
        products,
        totalPrice,
      }
    }
  }
}
</script>

<style lang="less">
.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  width: 400px;
  transition: all .3s ease-in-out;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  z-index: 2;
  will-change: right, box-shadow;
  &.active {
    right: 0;
    box-shadow: 0 0 15px 3px #c1c1c1;
  }
  &-products {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-heading {
    font-size: 26px;
  }
  &-image {
    height: 30px;
  }
  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    &-image {
      height: 20px;
      width: 20px;
    }
  }
}
</style>
