<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-nav">
        <nuxt-link to="/shippment" class="footer-link">Оплата і доставка</nuxt-link>
        <nuxt-link to="/refund" class="footer-link">Обмін та повернення</nuxt-link>
        <nuxt-link to="/about" class="footer-link">Про майстерню</nuxt-link>
        <nuxt-link to="/contacts" class="footer-link">Контакти</nuxt-link>
        <nuxt-link to="/blog" class="footer-link">Блог</nuxt-link>
      </div>
      <div class="footer-logo">
        <nuxt-link to="/" class="footer-big-link">EKO_MOM</nuxt-link>
        <div class="footer-social">
          <a href="https://www.instagram.com/eko_mom/" class="footer-social-link">
            <img class="footer-social-icon" src="/icons/instagram.svg" />
          </a>
          <a href="https://facebook.com/eko.mom.km" class="footer-social-link">
            <img class="footer-social-icon" src="/icons/facebook.svg" />
          </a>
        </div>        
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style lang="less">
.footer {
  width: 100%;
  padding: 20px 0;
  .container {
    justify-content: space-between;
  }
  &-nav {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
  }
  &-link {
    padding-bottom: 5px;
    color: #000;
    text-transform: uppercase;
    &:hover {
      text-decoration: none !important;
    }
  }
  &-logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
  }
  &-big-link {
    color: #000;
    line-height: 1.5;
    &:hover {
      text-decoration: none !important;
    }
  }
  &-social {
    display: flex;
    &-link {
      height: 25px;
      width: 25px;
      background-color: #000;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .4s;
      will-change: background-color;
      &:hover {
        background-color: darken(#0094ff, 20%);
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-icon {
      height: 15px !important;
      width: 15px;
    }
  }
}
</style>
