<template>
  <header class="header">
    <div class="cart-overlay" v-bind:class="{ active: this.openedCart }"></div>
    <div class="container">
      <div class="header-logo">
        <nuxt-link class="header-logo-link" to='/'>EKO_MOM</nuxt-link>
      </div>
      <nav class="header-nav">
        <nuxt-link to='/about' class="header-nav-item">Про майстерню</nuxt-link>
        <nuxt-link to='/shop' class="header-nav-item">Магазин</nuxt-link>
        <nuxt-link to='/blog' class="header-nav-item">Блог</nuxt-link>
        <nuxt-link to='/contacts' class="header-nav-item">Контакти</nuxt-link>
        <nuxt-link to='/shippment' class="header-nav-item">Оплата і доставка</nuxt-link>
        <nuxt-link to='/refund' class="header-nav-item">Обмін та повернення</nuxt-link>
      </nav>
      <nav class="header-nav">
        <nuxt-link to="/profile" class="header-nav-item header-nav-item-image">
          <img class="header-nav-image" src="/icons/user.svg" />
        </nuxt-link>
        <img class="header-nav-image" src="/icons/cart.svg" @click.prevent='toggleCart' />
      </nav>
    </div>
    <Cart :opened="openedCart" :toggle="toggleCart" />
  </header>
</template>

<script>
import Cart from './Cart'

export default {
  name: 'Header',
  components: {
    Cart
  },
  data() {
    return {
      openedCart: false,
    }
  },
  methods: {
    toggleCart() {
      this.openedCart = !this.openedCart
    }
  }
}
</script>

<style lang="less">
.cart {
  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    visibility: hidden;
    z-index: 1;
    transition: opacity .5s, visibility .5s, left .1s;
    &.active {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}
.header {
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  .container {
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
  &-logo {
    font-size: 24px;
    font-family: 'Oswald';
    color: #333;
    &-link {
      color: inherit;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  &-nav {
    display: flex;
    &-item {
      display: flex;
      position: relative;
      align-items: center;
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      font-size: 15px;
      text-transform: uppercase;
      overflow: hidden;
      font-family: 'Oswald';
      cursor: pointer;
      &:after {
        display: block;
        position: absolute;
        left: 0;
        background: #333;
        left: -100%;
        width: 100%;
        height: 1px;
        bottom: 0;
        transition: left .4s ease-in-out;
        content: ' ';
      }
      &-image {
        cursor: pointer;
        &:after {
          display: none;
        }
      }
      &:hover {
        text-decoration: none !important;
        &:after {
          left: 0;
        }
      }
      &:hover,
      &:focus {
        outline: none;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      min-width: 25px;
      max-height: 25px;
      cursor: pointer;
    }
  }
}
</style>
