<template>
  <section class="categories">
    <div class="container">
      <nuxt-link to="/shop" class="category" style="background-image: url('/instagram1.jpg');">
        <div class="category-overlay"></div>
        <h3 class="category-name">Кокони</h3>
      </nuxt-link>
      <nuxt-link to="/shop" class="category" style="background-image: url('/instagram2.jpg');">
        <div class="category-overlay"></div>
        <h3 class="category-name">Одіялка</h3>
      </nuxt-link>
      <nuxt-link to="/shop" class="category" style="background-image: url('/instagram2.jpg');">
        <div class="category-overlay"></div>
        <h3 class="category-name">Пледи</h3>
      </nuxt-link>
      <nuxt-link to="/shop" class="category" style="background-image: url('/instagram1.jpg');">
        <div class="category-overlay"></div>
        <h3 class="category-name">Бортики</h3>
      </nuxt-link>
    </div>
  </section>  
</template>

<script>
export default {
  name: 'IndexCategories',
}
</script>

<style lang="less" scoped>
.categories {
  .container {
    flex-wrap: wrap;
  }
}
.category {
  flex: 0 0 32%;
  height: 310px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-size: cover;
  margin-bottom: 2%;
  &:hover {
    text-decoration: none !important;
    & > .category-name {
      transform: scale(1.1);
    }
    & > .category-overlay {
      background: rgba(255,255,255,.3);
    }
  }
  &:not(:nth-of-type(3n)) {
    margin-right: 2%;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    transition: background-color .2s ease-in-out;
  }
  &-name {
    font-size: 24px;
    color: #0a0a0a;
    background: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: lighter;
    transition: all .3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
  }
}
</style>
