<template>
  <section class="latest">
    <div class="container">
      <div class="half-block">
        <h6 class="latest-subheader">Підписуйся</h6>
        <h1 class="latest-header">Instargram</h1>
        <a href="https://instagram.com/eko_mom" class="latest-icon-container"><img class="latest-icon" src="/icons/instagram.svg" /></a>
        <p class="latest-para">Аби завжди залишатись в курсі новинок, знижок, розпродажів та самих свіжих і гарних товарів ждя вашого малюка - підписуйся</p>
      </div>
      <div class="half-block">
        <a target="_blank" href="https://www.instagram.com/p/BxyI3AXCaY2/" class="latest-image-container">
          <div class="latest-overlay"></div>
          <img src="/instagram1.jpg" alt="" class="latest-image">
        </a>
        <a target="_blank" href="https://www.instagram.com/p/BxyI3AXCaY2/" class="latest-image-container">
          <div class="latest-overlay"></div>
          <img src="/instagram2.jpg" alt="" class="latest-image">
        </a>
        <a target="_blank" href="https://www.instagram.com/p/BxyI3AXCaY2/" class="latest-image-container">
          <div class="latest-overlay"></div>
          <img src="/instagram2.jpg" alt="" class="latest-image">
        </a>
        <a target="_blank" href="https://www.instagram.com/p/BxyI3AXCaY2/" class="latest-image-container">
          <div class="latest-overlay"></div>
          <img src="/instagram1.jpg" alt="" class="latest-image">
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LatestInstagram',
}
</script>

<style lang="less">
.latest {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: background-color .2s ease-in-out;
  }
  &-para {
    font-size: 14px;
    margin-top: 30px;
    max-width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  &-subheader {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Oswald';
    font-weight: lighter;
    text-transform: uppercase;
  }
  &-header {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald';
    margin-top: 20px;
    text-transform: uppercase;
  }
  &-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-image-container {
    width: 40%;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    &:not(:nth-of-type(2n)) {
      margin-right: 10px;
    }
    &:hover {
      & > .latest-overlay {
        background: rgba(255,255,255,.5);
      }
    }
  }
  &-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 100%;
  }
}
.half-block {
  &:first-child {
    padding-right: 30px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    flex-direction: column;
  }
  &:last-child {
    flex: 0 0 50%;
    padding-left: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
  }
}
</style>
