<template>
  <div class="main-slider">
    <carousel 
      :per-page="1" 
      :loop="true" 
      :mouse-drag="false" 
      :autoplay="true" 
      :pagination-enabled="false"
    >
      <slide class="main-slider-slide">
        <img class="slider-image" src="/background.jpg" />
        <div class="container">
          <div class="slider-text">
            <h1 class="slider-header">Ми відкрились</h1>
            <p class="slider-para">
              І саме тому ми вирішили, що вам пора скупити все
            </p>
            <nuxt-link to="/shop" class="slider-link">В магазин</nuxt-link>
          </div>
        </div>
      </slide>
      <slide class="main-slider-slide">
        <img class="slider-image" src="/background.jpg" />
        <div class="container">
          <div class="slider-text">
            <h1 class="slider-header">Ми відкрились</h1>
            <p class="slider-para">
              І саме тому ми вирішили, що вам пора скупити все
            </p>
            <nuxt-link to="/shop" class="slider-link">В магазин</nuxt-link>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import Slide from 'vue-carousel/src/Slide.vue'
import Carousel from 'vue-carousel/src/Carousel.vue'
export default {
  name: 'MainSlider',
  components: {
    Slide,
    Carousel,
  }
}
</script>

<style lang="less">
.main-slider {
  width: 100%;
  min-height: 400px;
  &-slide {
    position: relative;
    height: 450px;
  }
  .container {
    justify-content: flex-end;
    align-items: center;
    height: 450px;
    z-index: 1;
  }
}
.slider {
  &-header {
    font-size: 30px;
    font-family: 'Oswald';
  }
  &-image {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
  }
  &-para {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
  }
  &-link {
    margin-top: 20px;
    background: #0a0a0a;
    border-radius: 30px;
    padding: 5px 20px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 24px;
    &:hover {
      text-decoration: none !important;
    }
  }
}
</style>
