<template>
  <div class="overlay">
    <md-card class="modal">
      <div class="modal-header">
        <slot name="header">
          default header
        </slot>
        <div class="modal-close" @click="$emit('close')">&times;</div>
      </div>
      <div class="modal-body">
        <slot name="body">
          default body
        </slot>
      </div>
      <div class="modal-footer">
        <slot name="footer">
          default footer
        </slot>
      </div>
    </md-card>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  created() {
    const that = this
    document.addEventListener('keyup', function(event) {
      if (event.keyCode === 27) {
        that.$emit('close')
      }
    })
  }
}
</script>

<style lang="less">
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.32);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal {
  display: flex;
  background: white;
  flex-direction: column;
  min-width: 75%;
  max-width: 95%;
  max-height: 95%;
  overflow-y: scroll;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  &-header {
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #ebedf2;
  }
  &-body {
    padding: 20px;
  }
  &-footer {
    padding: 10px 20px;
    display: flex;
    border-top: 1px solid #ebedf2;
    justify-content: flex-end;
    background: #f7f8fa;
  }
  &-close {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 16px;
    font-size: 20px;
    cursor: pointer;
  }
}
</style>
