<template>
  <div class="admin">
    <AdminPanel />
    <AdminContent>
      <nuxt />
    </AdminContent>
  </div>
</template>

<script>
import AdminPanel from '~/components/admin/AdminPanel'
import AdminContent from '~/components/admin/AdminContent'

export default {
  name: 'AdminLayout',
  components: {
    AdminPanel,
    AdminContent,
  }
}
</script>

<style lang="less">
.modal > .md-card-header {
  border-bottom: 1px solid #ebedf2;
}
.md {
  &-input {
    border-bottom: 1px solid #1e1e2d !important;
  }
  &-button {
    background: #0094ff;
    color: white;
  }
  &-title {
    &.right-margin-20{
      margin-right: 20px;
    }
  }
  &-layout {
    &.vertical-centered {
      align-items: center;
    }
  }
  &-card {
    background: white;
    &-header {
      font-size: 1.3rem;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-image-button {
    height: 20px !important;
    cursor: pointer;
  }
  &-dialog-title {
    border-bottom: 1px solid #ebedf2;
  }
  &-layout {
    &.spaced {
      display: flex;
      justify-content: space-between;
    }
  }
}
.card {
  display: flex;
  flex: 0 0 100%;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  color: #464457;
  &-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebedf2;
    padding: 7px 0;
    &:last-child {
      border-bottom: 0;
    }
    &-item {
      flex: auto;
      margin: 3px 0;
      &.customer {
        flex: 0 0 200px;
      }
      &.name { 
        flex: 0 0 120px;
      }
      &.category,
      &.price,
      &.sales,
      &.salesPrice {
        flex: 0 0 100px;
      }
      &.id,
      &.delete,
      &.more,
      &.edit {
        font-size: 20px;
        padding: 3px;
        flex: 0 0 40px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
      }
      &.id {
        font-size: 14px;
      }
    }
  }
  &-heading {
    padding: 20px;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ebedf2;
  }
  &-content {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex: 0 0 100%;
    justify-content: space-between;
  }
  &-rows {
    flex-wrap: wrap;
    overflow-x: scroll;
    flex: 0 0 100%;
  }
  &-footer {
    padding: 10px 20px;
    border-top: 1px solid #ebedf2;
    flex: 1 auto;
  }
}
select.form-input {
  -webkit-appearance: none;
  appearance: none;
  background: white url('/icons/down-arrow.svg') no-repeat 95% center;
  background-size: 15px;
  border-radius: 0;
}
input[type="checkbox"].form-input {
  margin: 6px 12px;
}
.form {
  padding: 20px;
  display: flex;
  flex: 0 0 100%;
  box-sizing: border-box;
  position: relative;
  &-products {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
  }
  &-product {
    display: flex;
    height: 200px;
    width: 180px;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3px;
    border: 1px solid #ebedf2;
    margin-right: 5px;
    margin-top: 20px;
    &-image {
      height: 120px;
      width: 180px;
      margin-bottom: 10px;
      margin: -5px 0 0 -5px;
    }
    &-text {
      display: flex;
      height: 50px;
      justify-content: flex-start;
      align-items: center;
      padding: 0 10px;
      a {
        color: #0094ff;
      }
    }
    &.add {
      justify-content: center;
      align-items: center;
      background: #f7f8fa;
      font-size: 50px;
      font-weight: bolder;
      color: darken(#f7f8f7, 20%);
      cursor: pointer;
    }
  }
  &-images {
    display: flex;
    flex: 0 0 100px;
    position: relative;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &-close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: -5px;
    background: black;
    color: white;
    text-align: center;
    line-height: 12px;
    border-radius: 100%;
    cursor: pointer;
  }
  &-image {
    height: 100px !important;
    width: 100px;
  }
  select {
    -webkit-appearance: none;
    appearance: none;
    background: white url('/icons/down-arrow.svg') no-repeat 95% center;
    background-size: 15px;
    border-radius: 0;
    border: 1px solid rgb(238,238,238);
    position: relative;
    &:focus {
      outline: none;
    }
  }
  &-link {
    padding: 4px 15px;
    font-size: 14px;
    &:nth-of-type(1) {
      padding-top: 12px;
    }
    a {
      color: #0094ff;
      text-transform: lowercase;
    }
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &-block {
    width: 32%;
    float: left;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    &:not(:nth-of-type(3n)) {
      margin-right: 1%;
    }
    &-file {
      padding: 50px 0 0;
    }
    &-fullwidth {
      width: 100%;
    }
    &-inline {
      flex-direction: row;
      justify-content: flex-start;
    }
    &-absolute {
      padding-left: 20px;
      position: absolute;
      right: 0;
      top: 40px;
      margin-bottom: 0 !important;
    }
    &-checkbox {
      flex-direction: row;
      label {
        padding-bottom: 0;
      }
    }
  }
  &-label {
    font-size: 14px;
    padding-bottom: 6px;
  }
  &-image-block {
    position: relative;
  }
  &-remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 20px;
    background: #333;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
  }
  &-checkbox {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    margin-left: 20px;
    &:focus {
      outline: none;
    }
    &:checked {
      background: #0094ff url('/check.svg') no-repeat center center;
      background-size: 10px;
    }
  }
  &-textarea,
  &-input {
    padding: 6px 12px;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid rgb(238,238,238);
    width: 100%;
    transition: all .4s ease-in-out;
    font-weight: 500;
    &.file {
      -webkit-appearance: none;
    }
    &:focus {
      outline: none;
      border-bottom-color: rgb(0,0,0);
    }
  }
  &-textarea {
    height: 100px;
  }
  &-label {
    transition: all .4s ease-in-out;
    font-size: 12px;
    padding-bottom: 0;
    position: absolute;
    left: 12px;
    top: 5px;
  }
  &-input-block {
    padding-top: 20px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  &-files {
    &-input {
      display: none;
    }
    &-block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #a8a8a8;
      background: #ccc;
      line-height: 70px;
      cursor: pointer;
    }
  }
  &-submit {
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 10px;
    color: white;
    background: #0094ff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    &.blue {
      background: #0094ff;
    }
    &.red {
      background: #d9534f;
    }
    &.outline.blue {
      background: transparent;
      border: 1px solid #0094ff;
      color: #0094ff;
    }
    &.outline.red {
      background: transparent;
      border: 1px solid #d9534f;
      color: #d9534f;
    }
  }
}
.button-image {
  max-height: 20px;
}
</style>
