<template>
  <div class="panel">
    <div class="panel-heading">EkoMom</div>
    <div class="panel-links">
      <nuxt-link class="panel-link" to="/admin">Головна</nuxt-link>
      <div class="dropdown" @click="handleDropdown($event)">
        <div class="dropdown-label">Форми</div>
        <div class="dropdown-content">
          <nuxt-link class="panel-link panel-link-inner" to="/admin/categories">Категорії</nuxt-link>
          <nuxt-link class="panel-link panel-link-inner" to="/admin/fillings">Наповнювачі</nuxt-link>
          <nuxt-link class="panel-link panel-link-inner" to="/admin/tissues">Тканини</nuxt-link>
          <nuxt-link class="panel-link panel-link-inner" to="/admin/products">Товари</nuxt-link>
        </div>
      </div>
      <nuxt-link class="panel-link" to="/admin/orders">Замовлення</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  name: 'AdminPanel',
  methods: {
    handleDropdown(e) {
      e.preventDefault()
      const target = e.currentTarget
      target.classList.toggle('active')
    }
  }
}
</script>

<style lang="less" scoped>
.dropdown {
  &.active {
    .dropdown-content {
      max-height: 150px;
    }
    .dropdown-label {
      background: url('/icons/white-top-arrow.svg') no-repeat 90% center;
      background-size: 7px;
    }
  }
  &-label {
    padding: 10px 10px 10px 30px;
    background: url('/icons/white-down-arrow.svg') no-repeat 90% center;
    background-size: 7px;
    cursor: pointer;
    &:hover {
      color: lighten(#a2a3b7, 10%);
    }
  }
  &-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-in-out;
  }
}
.panel {
  flex: 0 0 20%;
  flex-wrap: wrap;
  background: #1e1e2d;
  color: #a2a3b7;
  border-right: 1px solid #f5f5f5;
  height: 100%;
  position: fixed;
  width: 20%;
  left: 0;
  top: 0;
  &-heading {
    padding: 15px 30px;
    background: #1a1a27;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  &-links {
    padding-top: 40px;
    a {
      color: #a2a3b7;
      &:hover {
        color: lighten(#a2a3b7, 10%);
        text-decoration: none;
      }
    }
  }
  &-link {
    display: flex;
    flex: 0 0 100%;
    padding: 10px 10px 10px 30px;
    color: #a2a3b7;
    text-decoration: none;
    &-inner {
      padding-left: 44px;
      font-size: 14px;
    }
    &:hover {
      cursor: pointer;
      color: lighten(#a2a3b7, 10%);
    }
    &-active {
      color: #0094ff;
    }
  }
}
</style>
