<template>
  <div class="content">
    <div class="content-heading">
      <div class="content-events">
        <!-- TODO: Add the notifications -->
      </div>
      <div class="content-user" v-if="me">
        {{ me.name[0] }}
      </div>
    </div>
    <div class="content-container">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminContent',
  data() {
    return {
      me: this.$auth.$state.user
    }
  }
}
</script>

<style lang="less" scoped>
.content {
  flex: 0 0 80%;
  margin-left: 20%; 
  &-heading {
    height: 100px;
    width: 100%;
    background: white;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
  &-container {
    padding: 50px 30px;
    background: rgb(242, 243, 248);
    min-height: 100vh;
  }
  &-user {
    padding: 10px;
    border-radius: 3px;
    background: #0094ff;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}
</style>

