<template>
  <div class="body">
    <MainSlider />
    <IndexCategories />
    <LatestInstagram />
  </div>
</template>

<script>
import MainSlider from '@/components/MainSlider'
import IndexCategories from '@/components/IndexCategories'
import LatestInstagram from '@/components/LatestInstagram'

export default {
  name: 'MainPage',
  components: {
    MainSlider,
    LatestInstagram,
    IndexCategories
  }
}
</script>

<style>
.container {
  width: 1000px;
  display: flex;
  margin: 0 auto;
}
.body {
  box-sizing: border-box;
  padding-top: 100px;
  min-height: 100vh;
}
section {
  padding: 50px 0;
  box-sizing: border-box;
}
.section-header {
  padding-bottom: 35px;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
</style>

